@charset "utf-8";
/* CSS Document */

*{margin:0; padding:0; line-height:100%;}
a{text-decoration:none;}
li{list-style:none;}
img{display:block;}

.fl{float:left;}
.fr{float:right;}
.clearFix:after{content:''; display:block; clear:both;}
.clearFix{zoom:1;}

.wraper{width:1000px; margin:0 auto;}

.head-t .photo-float ul li:hover{background:url(../images/bg.png);}
.mg{margin:0 10px;}